# You can copy this file:
# cp .env.example .env
# And then fill the values for easy access to huggingface
# You can also add any other environment variables you need
# Use with docker: docker run --env-file .env
HF_TOKEN=
TF_CPP_MIN_LOG_LEVEL=
KERAS_BACKEND=
ZEA_CACHE_DIR=
