<html>

<head>
  <title>Streaming</title>
</head>
<style>
  fieldset {
    border: 0 none;
  }

  input[type=button],
  input[type=submit],
  input[type=reset] {
    background-color: #005374;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
  }

  .toggle {
    position: relative;
    display: inline-block;
  }

  .toggle input {
    opacity: 0;
    position: absolute;
    left: 0;
    top: 0
  }

  .toggle.clicked {
    background-color: #e6e6e6;
    border: 1px solid #ccc;
  }

  .toggle i {
    position: relative;
    background: #fff;
    color: #000;
    height: 34px;
    width: 200px;
    display: flex;
    font-style: normal;
    justify-content: center;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 4px;
    transition: 350ms;
  }

  .toggle.active {
    background: blue;
    border: 1px solid blue;
    color: #fff;
  }

  .toggle input:checked~i {
    background: blue;
    border: 1px solid blue;
    color: #fff;
  }

  .toggle i:before {
    content: attr(data-swchoff-text);
  }

  .toggle input:checked~i:before {
    content: attr(data-swchon-text);
  }
</style>



<body style="background-color:rgb(102, 102, 102);">





  <div style="width: 600px; float: left;">
    <h1>Streaming</h1>
    <p style="text-align:center;"><img src="{{ url_for('vid') }}"> </p>

    <!-- <button onclick="goToVideoPage()">Fullscreen</button>
    <script>
      function goToVideoPage() {
        window.location.href = '/video';
      }
    </script> -->

  </div>

  <div style="width: 500px; float: left;">

    <div style="width: 250px; float: left">
      <h2>Acquisition control</h2>
      <h3>Source</h3>
      <fieldset id="source_control">
        <input type="radio" value="option1" name="group0" checked="checked"
          onclick="set_source('verasonics')">Verasonics</input><br>
        <input type="radio" value="option2" name="group0" onclick="set_source('dummy')">Dummy Data</input><br>
      </fieldset>

      <script>
        function set_source(source) {
          $.ajax({
            type: "POST",
            url: "{{ url_for('create_file') }}",
            data: { "source": source },
          })
        }
      </script>

      <h3>Firing Angles</h3>
      <fieldset id="group3">
        <input type="radio" value="option1" name="group3" checked="checked" onclick="set1PW()"> 1 PW </input><br>
        <input type="radio" value="option2" name="group3" onclick="set5PWs()"> 5 PWs </input><br>
        <input type="radio" value="option2" name="group3" onclick="set11PWs()"> 11 PWs </input><br>
      </fieldset>

      <h3>Transmit voltage (V)</h3>
      <div class="container">
        <form action="/" method="post" enctype="multipart/form-data" id="form">
          <div class="row">
            <div class="col">
              <input id="slide_voltage" type="range" min="2" max="40" step="0.5" value="10" name="slide_voltage">
              <div id="label_voltage">10</div>
            </div>
          </div>
        </form>
      </div>

      <label class="toggle">
        <input type="checkbox" name="screen" value="Profile" actionname="Profile" onclick="change_status_autotuning()">
        <i data-swchoff-text="Autotuning" data-swchon-text="Autotuning"></i>
      </label>

      <label class="toggle" id="benchmark-button" onclick="start_benchmark()">
        <i>Start benchmark</i>
      </label>

      <script>
        var button = document.getElementById('benchmark-button');

        button.addEventListener('mousedown', function () {
          button.classList.add('active'); // Add the "active" class on mousedown
        });

        button.addEventListener('mouseup', function () {
          button.classList.remove('active'); // Remove the "active" class on mouseup
        });
      </script>

    </div>


    <div style="width: 250px; float: right">
      <h2>Reconstruction control</h2>

      <h3>Image Settings</h3>
      <fieldset id="group1">
        <input type="radio" value="option1" name="group1" checked="checked" onclick="setDAS()"> DAS </input><br>
        <input type="radio" value="option2" name="group1" onclick="setABLE()"> ABLE </input><br>
        <input type="radio" value="option3" name="group1" onclick="setNeuralMAP()"> neuralMAP</input><br>
        <input type="radio" value="option4" name="group1" onclick="setRawData()"> Raw data (center)</input><br>
      </fieldset>


      <h3>Filter bandwidth</h3>
      <div class="container">
        <form action="/" method="post" enctype="multipart/form-data" id="form">
          <div class="row">
            <div class="col">
              <input id="slide_bandwidth" type="range" min="0" max="100" step="1" value="50" name="slide_bandwidth">
              <div id="label_bandwidth">50</div>
            </div>
          </div>
        </form>
      </div>

      <h3>Scaling mode</h3>
      <fieldset id="group2">
        <input type="radio" value="option1" name="group2" checked="checked" onclick="setScaleNormal()">
        Normalized
        </input><br>
        <input type="radio" value="option2" name="group2" onclick="setScaleSmoothNormal()"> Smooth Normalized
        </input><br>
        <input type="radio" value="option3" name="group2" onclick="setScaleFixed()"> Fixed </input><br>
      </fieldset>

      <h3>Speed-of-sound (V)</h3>
      <div class="container">
        <form action="/" method="post" enctype="multipart/form-data" id="form">
          <div class="row">
            <div class="col">
              <input id="slide_sos" type="range" min="1400" max="1700" step="1" value="1540" name="slide_sos">
              <div id="label_sos">1540</div>
            </div>
          </div>
        </form>
      </div>

      <h3>Center frequency</h3>
      <div class="container">
        <form action="/" method="post" enctype="multipart/form-data" id="form">
          <div class="row">
            <div class="col">
              <input id="slide_fc" type="range" min="5" max="8" step="0.01" value="6.25" name="slide_fc">
              <div id="label_fc">6.25</div>
            </div>
          </div>
        </form>
      </div>

      <div>
        <input type="checkbox" id="link_sliders" name="link_sliders">
        <label for="link_sliders">Link sliders</label>
      </div>

      <h3>Sampling frequency</h3>
      <div class="container">
        <form action="/" method="post" enctype="multipart/form-data" id="form">
          <div class="row">
            <div class="col">
              <input id="slide_fs" type="range" min="5" max="8" step="0.01" value="6.25" name="slide_fs">
              <div id="label_fs">6.25</div>
            </div>
          </div>
        </form>
      </div>

      <script>
        const slideFc = document.getElementById("slide_fc");
        const slideFs = document.getElementById("slide_fs");
        const labelFc = document.getElementById("label_fc");
        const labelFs = document.getElementById("label_fs");
        const linkSliders = document.getElementById("link_sliders");

        linkSliders.addEventListener("change", function () {
          if (linkSliders.checked) {
            slideFs.value = slideFc.value;
            labelFs.innerHTML = slideFc.value;
          }
        });

        slideFc.addEventListener("input", function () {
          labelFc.innerHTML = slideFc.value;
          if (linkSliders.checked) {
            slideFs.value = slideFc.value;
            labelFs.innerHTML = slideFc.value;
          }
        });

        slideFs.addEventListener("input", function () {
          labelFs.innerHTML = slideFs.value;
          if (linkSliders.checked) {
            slideFc.value = slideFs.value;
            labelFc.innerHTML = slideFs.value;
          }
        });
      </script>

      <button type="button" onclick="change_persistance_mode('persistence_MA','persistence_AR');">Persistence
        Mode</button>

      <div id="persistence_MA" style="display: block;">
        <h3>MA Persistence</h3>
        <div class="container">
          <form action="/" method="post" enctype="multipart/form-data" id="form">
            <div class="row">
              <div class="col">
                <input id="slide_persistence" type="range" min="1" max="30" step="1" value="1" name="slide_persistence">
                <div id="label_persistence">1</div>
              </div>
            </div>
          </form>
        </div>
      </div>

      <div id="persistence_AR" style="display: none;">
        <h3>AR Persistence</h3>
        <div class="container">
          <form action="/" method="post" enctype="multipart/form-data" id="form">
            <div class="row">
              <div class="col">
                <input id="slide_alpha" type="range" min="0" max="0.99" step="0.01" value="0" name="slide_alpha">
                <div id="label_alpha">0</div>
              </div>
            </div>
          </form>
        </div>
      </div>

      <!-- <h3>Display settings</h3>
  <label class="toggle">
    <input type="checkbox" name="screen" value="Profile" actionname="Profile" onclick="change_status_autotuning()">
    <i data-swchoff-text="Autotuning" data-swchon-text="Autotuning"></i>
  </label>   -->


      <label class="toggle">
        <input type="checkbox" name="screen" value="Profile" actionname="Profile" onclick="change_status_upscaling()">
        <i data-swchoff-text="AI Upscaling" data-swchon-text="AI Upscaling"></i>
      </label>

      <label class="toggle">
        <input type="checkbox" name="screen" value="Profile" actionname="Profile" onclick="change_status_fps()">
        <i data-swchoff-text="FPS" data-swchon-text="FPS"></i>
      </label>

    </div>


    <!--

    <h3>Scaling mode</h3>
    <fieldset id="group2">
      <input type="radio" value="option1" name="group2" checked="checked" onclick="setScaleNormal()"> Normalized </input><br>
      <input type="radio" value="option2" name="group2" onclick="setScaleSmoothNormal()"> Smooth Normalized </input><br>
      <input type="radio" value="option3" name="group2" onclick= "setScaleFixed()"> Fixed </input><br>
    </fieldset>


    <h3>Transmit voltage (V)</h3>
      <div class="container">
        <form action="/" method ="post" enctype="multipart/form-data" id="form">
          <div class="row">
            <div class="col">
              <input id="slide_voltage" type="range" min="2" max="40" step="0.5" value="10" name="slide_voltage">
              <div id="label_voltage">10</div>
            </div>
          </div>
        </form>
      </div>

    <h3>Speed-of-sound (V)</h3>
      <div class="container">
        <form action="/" method ="post" enctype="multipart/form-data" id="form">
          <div class="row">
            <div class="col">
              <input id="slide_sos" type="range" min="1400" max="1700" step="1" value="1540" name="slide_sos">
              <div id="label_sos">1540</div>
            </div>
          </div>
        </form>
      </div>

    <h3>Center frequency</h3>
      <div class="container">
        <form action="/" method ="post" enctype="multipart/form-data" id="form">
          <div class="row">
            <div class="col">
              <input id="slide_fc" type="range" min="5" max="8" step="0.01" value="7.24" name="slide_fc">
              <div id="label_fc">7.24</div>
            </div>
          </div>
        </form>
      </div>

    <h3>Sampling frequency</h3>
      <div class="container">
        <form action="/" method ="post" enctype="multipart/form-data" id="form">
          <div class="row">
            <div class="col">
              <input id="slide_fs" type="range" min="5" max="8" step="0.01" value="7.24" name="slide_fs">
              <div id="label_fs">7.24</div>
            </div>
          </div>
        </form>
      </div>

    <button type="button" onclick="change_persistance_mode('persistence_MA','persistence_AR');">Persistence Mode</button>

    <div id="persistence_MA" style="display: block;">
      <h3>MA Persistence</h3>
      <div class="container">
        <form action="/" method ="post" enctype="multipart/form-data" id="form">
          <div class="row">
            <div class="col">
              <input id="slide_persistence" type="range" min="1" max="30" step="1" value="1" name="slide_persistence">
              <div id="label_persistence">1</div>
            </div>
          </div>
        </form>
      </div>
    </div>

    <div id="persistence_AR" style="display: none;">
      <h3>AR Persistence</h3>
      <div class="container">
        <form action="/" method ="post" enctype="multipart/form-data" id="form">
          <div class="row">
            <div class="col">
              <input id="slide_alpha" type="range" min="0" max="0.99" step="0.01" value="0" name="slide_alpha">
              <div id="label_alpha">0</div>
            </div>
          </div>
        </form>
      </div>
    </div>

  <h3>Display settings</h3>
  <label class="toggle">
    <input type="checkbox" name="screen" value="Profile" actionname="Profile" onclick="change_status_upscaling()">
    <i data-swchoff-text="AI Upscaling" data-swchon-text="AI Upscaling"></i>
  </label>

  <label class="toggle">
    <input type="checkbox" name="screen" value="Profile" actionname="Profile" onclick="change_status_fps()">
    <i data-swchoff-text="FPS" data-swchon-text="FPS"></i>
  </label> -->


</body>


<script src="https://code.jquery.com/jquery-3.6.0.js"></script>

<script>
  function change_persistance_mode(id1, id2) {
    var e = document.getElementById(id1);
    var f = document.getElementById(id2);
    var mode
    if (e.style.display == 'block') {
      e.style.display = 'none';
      mode = 'AR';
    }
    else {
      e.style.display = 'block';
      mode = 'MA';
    }
    if (f.style.display == 'block') {
      f.style.display = 'none';
      mode = 'MA';
    }
    else {
      f.style.display = 'block';
      mode = 'AR';
    }

    $.ajax({
      type: "POST",
      url: "{{ url_for('create_file') }}",
      data: { "persistence_mode": mode },
    })
  }

  function setDAS() {
    $.ajax({
      type: "POST",
      url: "{{ url_for('create_file') }}",
      data: { "beamformer": "DAS" },
    })
  }

  function setABLE(name) {
    $.ajax({
      type: "POST",
      url: "{{ url_for('create_file') }}",
      data: { "beamformer": "ABLE" },
    })
  }

  function setNeuralMAP() {
    $.ajax({
      type: "POST",
      url: "{{ url_for('create_file') }}",
      data: { "beamformer": "NeuralMAP" },
    })
  }

  function setRawData() {
    $.ajax({
      type: "POST",
      url: "{{ url_for('create_file') }}",
      data: { "beamformer": "RAW" },
    })
  }


  function setScaleNormal() {
    $.ajax({
      type: "POST",
      url: "{{ url_for('create_file') }}",
      data: { "norm_mode": "normal" },
    })
  }

  function setScaleSmoothNormal() {
    $.ajax({
      type: "POST",
      url: "{{ url_for('create_file') }}",
      data: { "norm_mode": "smoothnormal" },
    })
  }

  function setScaleFixed() {
    $.ajax({
      type: "POST",
      url: "{{ url_for('create_file') }}",
      data: { "norm_mode": "fixed" },
    })
  }


  function change_status_autotuning() {
    $.ajax({
      url: "{{ url_for('create_file') }}",
      type: "POST",
      data: { "intensityAuto": "True" }
    })
  }

  function start_benchmark() {
    $.ajax({
      url: "{{ url_for('create_file') }}",
      type: "POST",
      data: { "benchmark": "True" }
    })
  }

  function change_status_upscaling() {
    $.ajax({
      url: "{{ url_for('create_file') }}",
      type: "POST",
      data: { "upscaling": "True" }
    })
  }

  function change_status_fps() {
    $.ajax({
      url: "{{ url_for('create_file') }}",
      type: "POST",
      data: { "fps": "True" }
    })
  }


  var slide_voltage = document.getElementById('slide_voltage'),
    label_voltage = document.getElementById("label_voltage");
  slide_voltage.onchange = function () {
    label_voltage.innerHTML = this.value;
    $.post({
      url: "{{ url_for('create_file') }}",
      data: $('form').serialize(),
    });
  }

  var slide_sos = document.getElementById('slide_sos'),
    label_sos = document.getElementById("label_sos");
  slide_sos.onchange = function () {
    label_sos.innerHTML = this.value;
    $.post({
      url: "{{ url_for('create_file') }}",
      data: $('form').serialize(),
    });
  }

  var slide_bandwidth = document.getElementById('slide_bandwidth'),
    label_bandwidth = document.getElementById("label_bandwidth");
  slide_bandwidth.onchange = function () {
    label_bandwidth.innerHTML = this.value;
    $.post({
      url: "{{ url_for('create_file') }}",
      data: $('form').serialize(),
    });
  }

  var slide_fc = document.getElementById('slide_fc'),
    label_fc = document.getElementById("label_fc");
  slide_fc.onchange = function () {
    label_fc.innerHTML = this.value;
    $.post({
      url: "{{ url_for('create_file') }}",
      data: $('form').serialize(),
    });
  }

  var slide_fs = document.getElementById('slide_fs'),
    label_fs = document.getElementById("label_fs");
  slide_fs.onchange = function () {
    label_fs.innerHTML = this.value;
    $.post({
      url: "{{ url_for('create_file') }}",
      data: $('form').serialize(),
    });
  }

  var slide_persistence = document.getElementById('slide_persistence'),
    label_persistence = document.getElementById("label_persistence");
  slide_persistence.onchange = function () {
    label_persistence.innerHTML = this.value;
    $.post({
      url: "{{ url_for('create_file') }}",
      data: $('form').serialize(),
    });
  }

  var slide_alpha = document.getElementById('slide_alpha'),
    label_alpha = document.getElementById("label_alpha");
  slide_alpha.onchange = function () {
    label_alpha.innerHTML = this.value;
    $.post({
      url: "{{ url_for('create_file') }}",
      data: $('form').serialize(),
    });
  }

  function set1PW() {
    $.ajax({
      type: "POST",
      url: "{{ url_for('create_file') }}",
      data: { "na": "1" },
    })
  }

  function set11PWs() {
    $.ajax({
      type: "POST",
      url: "{{ url_for('create_file') }}",
      data: { "na": "11" },
    })
  }

  function set5PWs() {
    $.ajax({
      type: "POST",
      url: "{{ url_for('create_file') }}",
      data: { "na": "5" },
    })
  }
</script>

</html>