sphinx
sphinx-autobuild

# if using typehints
sphinx-autodoc-typehints
# for copy button
sphinx-copybutton

mock

# for using md
myst-parser
# for using notebooks
nbsphinx
pandoc

# theme: https://github.com/pradyunsg/furo
furo

# install stemmer package
PyStemmer
