sphinx
sphinx-autobuild

# if using typehints
sphinx-autodoc-typehints
# for copy button
sphinx-copybutton

mock

# for using md
myst-parser
# for using notebooks
nbsphinx

# theme: https://github.com/pradyunsg/furo
furo

# install stemmer package
PyStemmer

# system dependency required for nbsphinx (install with: sudo apt-get install pandoc)
# pandoc